@import "tailwindcss";
@import "tailwindcss-primeui";

.card {
  background: var(--card-bg);
  border: var(--card-border);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.section-title {
  font-family: YeogiOttaeJalnan;
  font-size: 2rem;
  color: #fff;
}

.section-sub-title {
  font-family: YeogiOttaeJalnan;
  font-size: 1.5rem;
  color: #fff;
}

.text-strong {
  color: #0078d4;
}
